@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;900&family=Roboto:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,700;0,900;1,400&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: ;
}


 body{
    background: #fffdd0;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav-bar{
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 100;
    background: #0b1c35;
    top: 0;
}
.nav-bar{
    background: #0b1c35;
    left: 0;
    top: 0;
    padding: 0.3rem 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.nav-bar .nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    text-align: center;
    width: 100%;
}
.nav-bar .nav-list.open ul{
    transform: translateY(0);
}
.nav-bar .nav-list .hamburger{
    border: 0px solid #fff;
    border-radius: 10px;
    background: #0b1c35;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s ease transform;
    margin-right: -50px;
   
}

.nav-bar .nav-list .hamburger.active .bar:before{
    top: -1px;
    width: 30px;
    height: 2px;
    left: 0;
    transform: rotate(45deg);
}
.nav-bar .nav-list .hamburger.active .bar:after{
    transform: rotate(-45deg);
    top: -1px;
}
.nav-bar .nav-list .hamburger.active .bar{
    background-color: transparent;
}
.nav-bar .nav-list .hamburger .bar{
    height: 2px;
    width: 30px;
    background-color: #ffffff;
    position: relative;
    display: flex;
}
.nav-bar .nav-list .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #ffffff;
    transition: .3s ease all;
    top: 8px;
    left: 15px;
    
}
.nav-bar .nav-list .hamburger .bar::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    transition: .3s ease all;
    bottom: 8px;
    left: 0;
}
.nav-bar .nav-list ul{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #0b1c35;
    transform: translateY(-100%);
    transition: .7s ease transform;
    padding: 5rem 0;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    z-index: -1;
    opacity: 0.9;
    
}
.nav-bar .nav-list ul li a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding-left: 10px;
    font-family: 'lato', sans-serif;
    padding: 0.8rem 0.8rem;
    
    
}
.nav-bar .nav-list ul li a:hover{
    color: #006994;
}
.nav-bar .nav-list ul li:hover::after{
    transform: translateX(-50%) scale(1);
}
.nav-bar .nav-list ul li:after{
    content: '';
    position: absolute;
    width: 40px;
    height: .1rem;
    background-color: #fff;
    left: 50.5%;
    transform: translatex(-50%) scale(0);
    bottom: 0px;
    transition: .3s ease transform;
}
.nav-bar .nav-list ul li{
    list-style: none;
    display: block;
    position: relative;
}
.nav-bar .nav-list .register-button{
    display: inline-block;
    font-size: 16px;
    text-transform: none;
    color: #fff;
    background-color: transparent;
    z-index: -1;
    border: 2px solid #fff;
    border-radius: 4px;
    margin-top: 15px;
    width: 100px;
    height: 40px;
    padding: 5px;
}
.nav-bar .brand img{
    position: relative;
    width: 80%;
    object-fit: cover;
    object-position: right;
    height: 60px;
}

@media only screen and (min-width: 1020px){
   
     .nav-bar .nav-list .hamburger{
        display: none;
    }
    .nav-bar{
        width: 100%;
        height: 70px; 
    }
    .nav-bar .nav-list ul{
        transform: translateX(0);
        position: initial;
        z-index: initial;
        background-color: transparent;
    }
    .nav-bar .nav-list ul li{
        display: inline-block;

    }
     .nav-bar .brand img{
        width: 60%;
    }
}



/*about*/


.about{
    width: 100%;
    min-height: 50vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.about h1{
    text-align: start;
    font-size: 30px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #0b1c35;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 100px;
}
.about p{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 28px;
    text-align: start;
}
.about img{
    width: 100%;
}

.footer{
    width: 100%;
    height: auto;
    background: #f9e29c;
    padding: 40px;
    margin-top: 50px;
}

.about__us h3{
    font-size: 20px;
    color: #0b1c35;
    margin-top: 20px;
}
.about__us li{
    list-style: none;
    padding-top: 4px;
    font-size: 13px;
    font-family: 'lato', sans-serif;
    line-height: 20px;
    margin-top: 8px;
}
.about__us li a{
    font-size: 13px;
    text-decoration: none;
    color: #000;
}
.ghelp h3{
    font-size: 20px;
    color: #0b1c35; 
    margin-top: 20px;
}
.ghelp li{
    list-style: none;
    padding-top: 4px;
    font-size: 15px;
    font-family: 'lato', sans-serif;
    line-height: 20px;
    margin-top: 8px; 
}
.ghelp li a{
    text-decoration: none;
    font-size: 13px;
    color: #000;
}
.legal h3{
    font-size: 20px;
    color: #0b1c35; 
    margin-top: 20px;
}
.legal li{
    list-style: none;
    padding-top: 4px;
    font-size: 15px;
    font-family: 'lato', sans-serif;
    line-height: 20px;
    margin-top: 8px; 
}
.legal li a{
    text-decoration: none;
    font-size: 13px;
    color: #000; 
}
.contact-us{
    margin-left: -20px;
}
.contact-us h3{
    font-size: 20px;
    color: #0b1c35; 
    margin-top: 20px;
    margin-left: 18px;
}
.contact-us p{
    padding-top: 2px;
    font-size: 13px;
    font-family: 'lato', sans-serif;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 18px;
}

.social-links{
    margin-top: 10px;
    margin-left: 15px;
}
.social-links a i{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background: #0b1c35;
    position: relative;
    text-align: center;
    color: #fff;
    padding: 7px;
}
.social-links a:hover{
    opacity: 0.7;
}

.built{
    height: 40px;
    width: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #0b1c35;
    position: absolute;
    
}
.built .rights{
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
}
.built p{
    display: flex;
}
.built a{
    text-decoration: none;
    padding-left: 5px;
}
.contaner{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (min-width: 768px){
  
    .about-us{
        width: 80%;
        margin: 0 auto;
        flex-direction: row;
        padding-left: 80px;
        padding-right: 80px;
    }
    .about img{
        width: 60%;
        height: 100%;
    }
}



@media only screen and (min-width: 1200px){
   
    .about{
        display: flex;
        flex-direction: row;
        margin-top: 100px;
    }
    
    .about h1{
        text-align: center;
    }
    
    
    .about p{
        text-align: center;
    }
    
    
    .about img{
        width: 40%;
        margin-top: 100px;
    }
    
    
    .footer{
        display: flex;
        flex-direction: row;
        padding-left: 200px;
    }
  
    
    .ghelp{
        margin-left: 30px;
    }
    
    .legal{
        margin-left: 30px;
    }
    
    .contact-us{
        margin-left: 30px;
    }
    
       .built{
        margin-top: 130px;
        display: flex;
        flex-direction: row;
    }
    
}
        
