@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;900&family=Roboto:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,700;0,900;1,400&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: ;
}


 body{
    background: #fffdd0;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background: #0b1c35;
}


.logo{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin-left: -100px;
}

.navlinks{
    display: flex;
    width: 50%;
    justify-content: space-around;
    padding-top: 20px;
}


.navlinks li{
    list-style: none;
}


.navlinks .reg{
    width: 100px;
    height: 40px;
    background: transparent;
    border-radius: 4px;
    border: 1px solid #fff;
    margin-top: -10px;
}


.navlinks .reg a{
    color: #fff;
    font-weight: 500;
    padding: 8px;
}

.navlinks .reg:hover{
   opacity: 0.99;
}

.navlinks a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.navlinks a:hover{
    opacity: 0.9;
}

.burger{
    display: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.burger .line1{
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
}

.burger .line2{
    width: 15px;
    height: 2px;
    left: 5px;
    background-color: #fff;
    margin-left: 15px; 
    
}
.burger .line3{
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
}

@media screen and (max-width: 1024px){
    .navlinks{
        width: 70%;
    }
}
@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .navlinks{
        position: absolute;
        right: 0px;
        height: 72vh;
        top: 8vh;
        background: #0b1c35;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 40px;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .burger{
        display: block;
        margin-right: -100px;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
       opacity: 0; 
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


/*about*/


.about{
    width: 100%;
    min-height: 50vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.about h1{
    text-align: start;
    font-size: 30px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #0b1c35;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.about p{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 28px;
    text-align: start;
}
.about img{
    width: 100%;
}

.footer{
    width: 100%;
    height: auto;
    background: #f9e29c;
    padding: 40px;
    margin-top: 50px;
}

.about__us h3{
    font-size: 20px;
    color: #0b1c35;
    margin-top: 20px;
}
.about__us li{
    list-style: none;
    padding-top: 4px;
    font-size: 13px;
    font-family: 'lato', sans-serif;
    line-height: 20px;
    margin-top: 8px;
}
.about__us li a{
    font-size: 13px;
    text-decoration: none;
    color: #000;
}
.ghelp h3{
    font-size: 20px;
    color: #0b1c35; 
    margin-top: 20px;
}
.ghelp li{
    list-style: none;
    padding-top: 4px;
    font-size: 15px;
    font-family: 'lato', sans-serif;
    line-height: 20px;
    margin-top: 8px; 
}
.ghelp li a{
    text-decoration: none;
    font-size: 13px;
    color: #000;
}
.legal h3{
    font-size: 20px;
    color: #0b1c35; 
    margin-top: 20px;
}
.legal li{
    list-style: none;
    padding-top: 4px;
    font-size: 15px;
    font-family: 'lato', sans-serif;
    line-height: 20px;
    margin-top: 8px; 
}
.legal li a{
    text-decoration: none;
    font-size: 13px;
    color: #000; 
}
.contact-us{
    margin-left: -20px;
}
.contact-us h3{
    font-size: 20px;
    color: #0b1c35; 
    margin-top: 20px;
    margin-left: 18px;
}
.contact-us p{
    padding-top: 2px;
    font-size: 13px;
    font-family: 'lato', sans-serif;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 18px;
}

.social-links{
    margin-top: 10px;
    margin-left: 15px;
}
.social-links a i{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background: #0b1c35;
    position: relative;
    text-align: center;
    color: #fff;
    padding: 7px;
}
.social-links a:hover{
    opacity: 0.7;
}

.built{
    height: 40px;
    width: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #0b1c35;
    position: absolute;
    
}
.built .rights{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
}
.built p{
    display: flex;
}
.built a{
    text-decoration: none;
    padding-left: 5px;
}
.contaner{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (min-width: 768px){
  
    .about-us{
        width: 80%;
        margin: 0 auto;
        flex-direction: row;
        padding-left: 80px;
        padding-right: 80px;
    }
    .about img{
        width: 60%;
        height: 100%;
    }
}



@media only screen and (min-width: 1200px){
   
    .about{
        display: flex;
        flex-direction: row;
        margin-top: 100px;
    }
    
    .about h1{
        text-align: center;
    }
    
    
    .about p{
        text-align: center;
    }
    
    
    .about img{
        width: 40%;
    }
    
    
    .footer{
        display: flex;
        flex-direction: row;
        padding-left: 200px;
    }
  
    
    .ghelp{
        margin-left: 30px;
    }
    
    .legal{
        margin-left: 30px;
    }
    
    .contact-us{
        margin-left: 30px;
    }
    
       .built{
        margin-top: 130px;
        display: flex;
        flex-direction: row;
    }
    
}
        
